h1 {
  color: darkred;  
}

h2 {
  font-style: italic;
  color:rgba(182, 72, 72, 0.808);
}

p{
  color: crimson;
}

body {
  background-color: rgb(249, 216, 213);
  font-family: sans-serif;
  text-align: center;
}



.column {
  width: 50%;
  text-align: center;
  float: left;
  
}

.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
}