h1 {
  background-color:rgb(167, 220, 167);
  text-align: center;
}

.paragraph1 {
  color:lightslategray;
}

.paragraph2 {
  color:goldenrod;
  border: lightslategray;
  padding: 10px;
  background-color: antiquewhite
}

.highlight {
  color:rgb(18, 183, 186);
}

.centered-image {
  margin: auto;
  width: 20%;
  height: auto;
  display: block;
}

.my-class {
  padding: 10px;
  background-color:antiquewhite;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
}

h2 {
  font-size: small;
  text-align: center;
}

column {
  width: 50%;
  text-align: center;
  float: left;